/* Large desktop (TV) */
@media only screen (min-width: 1920px) {

}

/* HD desktop */
@media only screen and (max-width: 1920px) {

}

/* HD 2 desktop */
@media only screen and (max-width: 1792px) {

}

/* HD 3 desktop */
@media only screen and (max-width: 1650px) {

}

/* Desktops  */
@media only screen and  (max-width : 1366px) {

}

/* Laptops  */
@media only screen and  (max-width : 1280px) {

}

/* Small Laptops  */
@media only screen and  (max-width : 1024px) {

}

/* -- Mobiles -- */

/* Portrait tablet to landscape and desktop */
@media only screen and (max-width: 979px) {

}

/* Landscape phone to portrait tablet */
@media only screen and  (max-width: 767px) {

}

/* Phones and down */
@media only screen and (max-width: 480px) {

}

/* Smartphones  */
@media only screen and (max-width : 360px) {

}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 280px) and (max-device-width : 480px) {

}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {

}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {

}
